table{
    font-family: arial, sans-serif;
    border-collapse:collapse;
    width:100%;
}
td,th{
    border:1px solid #386203;
    text-align:left;
    padding:8px;
}
tr:nth-child(even){
    background-color:#8ad79b;
}