/* table{
    font-family: arial, sans-serif;
    border-collapse:collapse;
    width:100%;
}
td,th{
    border:1px solid #386203;
    text-align:center;
    padding:8px;
} */

table{
    border-collapse:collapse;
    width: 100%;
    margin: 0;
    font-size:1.5em;
    border-radius:5px 5px 0 0;
    overflow:hidden;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.15);
    position: relative;
}

table thead tr{
    background-color:rgb(177, 240, 89);
    color:aliceblue;
    text-align:left;
    font-weight:bold;
}

table th,
table td{
    padding:12px 15px;
    text-align: left;
}

table tbody tr{
    border-bottom:thin solid #dddddd;
}

table tbody tr:nth-of-type(even){
    background-color:rgb(216, 244, 187);
}

table tbody tr:last-of-type{
    border-bottom:2px solid aquamarine;
}

tr:nth-child(even){
    background-color:#9dffb2;
}

.previous{
    display:inline-block;
    padding:10px 20px;
    background-color:#77a077;
    color:rgb(26, 11, 11);
    border-radius:5px;
    text-decoration:none;
    transition:transoform 0.2s, box-shadow 0.2s;
}

.previous{
    position:absolute;
    top:20px;
    right:100px;
}

.previous:hover{
    transform:scale(1.1);
    box-shadow:0 0 10px rgba(33, 241, 6, 0.5);
}