.content-table{
    border-collapse:collapse;
    width:100%;
    margin:0;
    font-size:1.5em;
    border-radius:5px 5px 0 0;
    overflow:hidden;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.15)
}

.content-table thead tr{
    background-color:rgb(52, 157, 87);
    color:aliceblue;
    text-align:left;
    font-weight:bold;
}

.content-table th,
.content-table td{
    padding:12px 15px;
}

.content-table tbody tr{
    border-bottom:thin solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color:rgb(170, 237, 199);
}

.content-table tbody tr:last-of-type{
    border-bottom:2px solid rgb(70, 176, 190);
}

.previous{
    display:inline-block;
    padding:10px 20px;
    background-color:#77a077;
    color:rgb(26, 11, 11);
    border-radius:5px;
    text-decoration:none;
    transition:transoform 0.2s, box-shadow 0.2s;
}

.previous{
    position:absolute;
    top:20px;
    right:50px;
}