<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT All Data </title>

    <link rel="stylesheet" type="text/css" href="{{url_for(request.blueprint+'.static', filename='css/allData.css') }}" />

</head>
<body>
    <h1>&#127807; All Data For Specific Sensor &#127807;</h1>
    {% if all_sensor_data %} 
        {% for data in all_sensor_data %}
            <div class="data-entry">
                <p class="sensor-uid"><a href="/iot/all/{{data.sensor_uid}}">{{ data.sensor_uid }}</a></p>
                <p class="value">{{ data.value }}</p>
                <p class="timestamp">{{ data.timestamp }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No data available.</p> 
    {% endif %}
    
    <div class="back-button">
        <a href="/iot">Back to Homepage</a>
    </div>
</body>
</html>
