<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Devices </title>

    <link rel="stylesheet" type="text/css" href="{{url_for(request.blueprint+'.static', filename='css/device_layout.css') }}" />
    
</head>
<body>
    <h1>List of Devices</h1>
    <a href="/iot" class="animated-button">Sensors</a>
    {% if device_info %}
    <table class="content-table">
        <thead>
            <tr>
                <th>Device</th>
                <th>Latest Update</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for data in device_info %}
            <tr>
                <!-- <td><a href="/iot/device_sensor/{{data.device_id}}" >{{ data.device_id }}</a></td> -->
                <td>{{ data.device_id }}</td>
                <td>{{ data.latest_timestamps }}</td>
                <td>
                    <div class="circle 
                        {% if data.device_status_code =='green' %}green
                        {% elif data.device_status_code == 'red' %}red
                        {% elif data.device_status_code == 'orange' %}orange
                        {% elif data.device_status_code == 'yellow' %}yellow
                        {% elif data.device_status_code == 'no-sensors' %}gray
                        {% endif %}">
                    </div>

                    <!-- <p>Latest Timestamp: {{ data.latest_timestamps }}</p>
                    <p>Status Code: {{ data.device_status_code }}</p>  -->
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No data available.</p> 
    {% endif %}
</body>
</html>