<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Homepage </title>
<style> 
    table{
        font-family: arial, sans-serif;
        border-collapse:collapse;
        width:100%;
    }
    td,th{
        border:1px solid #386203;
        text-align:left;
        padding:8px;
    }
    tr:nth-child(even){
        background-color:#8ad79b;
    }
</style>
<script>
    
    function callAllert(sensor_uid) {
        alert(`Hi from Javascript ${sensor_uid}`);
    }
    
/*
    function giveStatus(timestamp) {
        const isProblematic = timestamp < 10;
        if (isProblematic) {
            return "Not Working well !!"
        } else {
            return "OK"
        }        
    }
*/
    //function get_js_status(id,timestamp){
    function get_js_status(data){
        const id=data.sensor_uid;
        const timestamp=data.timestamp;
        
        const element=document.getElementById(id+'_status');
        //const element=document.getElementById(data.sensor_uid+'_status');

        const dataTime=new Date (timestamp);
        //const dataTime=new Date (data.timestamp);
        const currentTime=new Date();
        //var timeDiff=dataTime.getDate()-currentTime.getDate();
        const timeDiff = (currentTime-dataTime) / (1000 * 60 * 60 * 24); //make sure is currentTime-dataTime to avoid negative value
        //var showStatus;      
        
        //for testing purpose
        console.log('Timestamp:', timestamp);
        console.log('Data Time:', dataTime);
        console.log('Current Time:', currentTime);
        console.log('Time Difference (days):', timeDiff);

        if (timeDiff>2){
            element.innerHTML="Not Working Well !!!";
            //document.getElementById(id).innerHTML="Not Working Well !!!"
            //showStatus="Not Working Well !!!"
        }
        else{
            element.innerHTML="OK";
            //showStatus="OK"
            //document.getElementById(id).innerHTML="OK"
            //showStatus="OK"
        }
    }
        
    

    function testingg(sensor_uid, timestamp) {
        alert(`Hi from Javascript - Sensor UID: ${sensor_uid}, Timestamp: ${timestamp}`);
    }

</script>

</head>
<body>
    <h1>&#127793; Latest Data For All Sensors &#127793;</h1>
    {% if all_sensor_data %}
    <table>
        <thead>
            <tr>
                <th>Sensor UID</th>
                <th>Value</th>
                <th>Timestamp</th>
                <th>Status</th>
                <th>JS status</th>
            </tr>
        </thead>
        <tbody>
            {% for data in all_sensor_data %}
            <tr>
                <!-- <td><a href="/iot/all/{{data.sensor_uid}}" id="{{ data.sensor_uid }}_link">{{ data.sensor_uid }}</a></td> -->
                <td><a href="/iot/all/{{data.sensor_uid}}" >{{ data.sensor_uid }}</a></td>
                <td>{{ data.value }}</td>
                <td>{{ data.timestamp }}</td> 
                <td>{{ sensor_status[data.sensor_uid] }}</td> 
                <td id="{{ data.sensor_uid }}_status"></td> 
                <!-- <td><button onclick="callAllert('{{data.timestamp}}')">alert button</button></td> -->
                <!-- <td><button onclick="giveStatus('{{data.timestamp}}')">alert button</button> </td>  -->
                <!-- <td><button onclick="giveStatus('{{data.timestamp}}')">alert button</button> </td>  -->

                <!-- <td><button onclick="giveStatus('{{data.sensor_uid}}', '{{data.timestamp}}')">Show Status</button></td>  -->
                
                <!-- <script>   
                    giveStatus('{{ data.sensor_uid }}', '{{ data.timestamp }}');
                </script> -->
            </tr>
            
            {% endfor %}
        </tbody>
    </table>

    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        window.onload=function(){
            function processSensorData(sensorData){
                var sensorUID=sensorData.sensor_uid;
                var timestamp=sensorData.timestamp;

                giveStatus(sensorUID,timestamp);

                console.log("Sensor UID: "+sensorUID);
                console.log("Timestamp: "+timestamp);
            }
            $.get('/',function(data){
                data.all_sensor_data.forEach(function(sensorData){
                    processSensorData(sensorData);
                });
            });
        };
    </script> -->

    <script>
        const allSensorData=JSON.parse('{{all_sensor_data_json |safe }}');
        window.onload=function(){
            allSensorData.forEach(function(data){
                //get_js_status(data.sensor_uid,data.timestamp);
                get_js_status(data);
            });
        };
    </script>


    <!-- <script>
        window.onload=function(){
            var allSensorData = [];

            for (var data of all_sensor_data){
                allSensorData.push({
                    sensor_uid: data.sensor_uid,
                    timestamp: data.timestamp
                });
            }

            console.log(allSensorData);

            allSensorData.forEach(function(data) {
                giveStatus(data.sensor_uid, data.timestamp);
            });
        };
    </script> -->

    {% else %}
    <p>No data available.</p> 
    {% endif %} 

</body>
</html>