<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Homepage </title>

    <link rel="stylesheet" type="text/css" href="{{url_for(request.blueprint+'.static', filename='css/main.css') }}" />


{% block javascript %}
    <script src="{{ url_for(request.blueprint+'.static', filename='js/main_page.js') }}"></script>
{% endblock %}

</head>
<body>
    <h1>&#127793; Latest Data For All Sensors &#127793;</h1>
    {% if all_sensor_data %}
    <table>
        <thead>
            <tr>
                <th>Sensor UID</th>
                <th>Value</th>
                <th>Timestamp</th>
                <th>Status</th>
                <th>JS status</th>
            </tr>
        </thead>
        <tbody>
            {% for data in all_sensor_data %}
            <tr>
                <td><a href="/iot/all/{{data.sensor_uid}}" >{{ data.sensor_uid }}</a></td>
                <td>{{ data.value }}</td>
                <td>{{ data.timestamp }}</td> 
                <td>{{ sensor_status[data.sensor_uid] }}</td> 
                <td id="{{ data.sensor_uid }}_status"></td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>        
        window.onload=function(){
            const formatted_data=JSON.parse('{{all_sensor_data_json |safe }}');
            showJsStatus(formatted_data);            
        }
    </script>

    {% else %}
    <p>No data available.</p> 
    {% endif %} 
    
</body>
</html>