<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT Device Sensors </title>  

    <link rel="stylesheet" type="text/css" href="{{url_for(request.blueprint+'.static', filename='css/sensor_for_device_layout.css') }}" />

</head>
<body>
    <h1>List of Device Sensors</h1>
    <a href="/iot/devices" class="previous">&laquo; Previous</a>
    {% if sensor_info %}
    <table class="content-table">
        <thead>
            <tr>
                <th>Sensor UID</th>
                <th>Value</th>
                <th>Latest Timestamp</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for data in sensor_info %}
            <tr>
                <td><a href="/iot/all/{{data.sensor_uid}}" >{{ data.sensor_uid }}</a></td>
                <td>{{ data.value }}</td>
                <td>{{ data.latest_timestamp }}</td> 
                <td>{{ data.status}}</td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No data available.</p> 
    {% endif %}
</body>
</html>