<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IoT All Data </title>

    <link rel="stylesheet" type="text/css" href="{{url_for(request.blueprint+'.static', filename='css/sensor_data_layout.css') }}" />

</head>
<body>
    <!-- <h1>All Data For Specific Sensor </h1> -->
    <h1>All Data For {{all_sensor_data[0].sensor_uid}} Sensor </h1>
    <a href="/all_latest_data" class="previous">&laquo; Previous</a>
    <!-- <a href="{{ url_for('views.display_sensors_for_devices', device_id=device_id) }}" class="previous">&laquo; Previous</a> -->

    {% if all_sensor_data %} 
    <table>
        <thead>
            <tr>
                <!-- <th>Sensor UID</th> -->
                <th>Value</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for data in all_sensor_data %}
            <tr>
                <!-- <div class="data-entry">
                    <p class="sensor-uid"><a href="/all/{{data.sensor_uid}}">{{ data.sensor_uid }}</a></p>
                    <p class="value">{{ data.value }}</p>
                    <p class="timestamp">{{ data.timestamp }}</p>
                </div> -->
                
                <!-- <td><a href="/all/{{data.sensor_uid}}">{{ data.sensor_uid }}</a></td> -->
                <td>{{ data.value }}</td>
                <td>{{ data.timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No data available.</p> 
    {% endif %}
</body>
</html>
